<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
<a class="navbar-brand" href="#">Employee Motions Database</a>        
        <ul class="nav nav-tabs ">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('motions_list') }}">HOME <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item avtive">
                <a class="nav-link" href="{{ path('motions_new') }}">Add New Motion <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('motions_printAll') }}">Print All <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>